# See https://help.github.com/ignore-files/ for more about ignoring files.

[core]
 autocrlf = false
[filter "lfs"]
 required = true
 clean = git-lfs clean -- %f
 smudge = git-lfs smudge -- %f
 process = git-lfs filter-process

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.vscode

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

